.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color:darkred;
}

a{
  text-decoration: none;
  color: aqua;
}

.active{
  color: black;
}
